---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
    <div class="h-full">
      <header class="flex items-center">
        <h1 class="text-white text-xl font-bold">
          Easter
        </h1>
      </header>
     
    </div>
  </Card>